<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.AnalysisMapper">
    <select id="getDistInfoByAdcode" resultType="java.util.Map">
        select ${key}, adcode
        from device
        where
        1 = 1
        <if test="adcode != null and adcode !=''">
            and adcode like concat(adcode, '%')
        </if>
        <if test="town != null and town != ''">
            and town=#{town}
        </if>
    </select>
    <select id="getYearList" resultType="java.lang.String">
        select DATE_FORMAT(convert_tz(`date`, @@session.time_zone,'+08:00'), '%Y')
        from device_maintenance
        left join device on device.id = device_maintenance.device_id
        where
        1 = 1
        <if test="adcode != null and adcode !=''">
            and adcode like concat(adcode, '%')
        </if>
        <if test="town != null and town != ''">
            and town=#{town}
        </if>
        group by DATE_FORMAT(convert_tz(`date`, @@session.time_zone,'+08:00'), '%Y')
    </select>
    <select id="getMonthlyDataByAdcodeTownAndYear" resultType="java.util.Map">
        select DATE_FORMAT(convert_tz(`date`, @@session.time_zone,'+08:00'), '%m') `key`, sum(num) `value`
        from device_maintenance
        left join device on device.id = device_maintenance.device_id
        where DATE_FORMAT(convert_tz(`date`, @@session.time_zone,'+08:00'), '%Y') = #{year}
        <if test="adcode != null and adcode !=''">
            and device.adcode like concat(#{adcode}, '%')
        </if>
        <if test="town != null and town != ''">
            and device.town = #{town}
        </if>
        group by DATE_FORMAT(convert_tz(`date`, @@session.time_zone,'+08:00'), '%m')
    </select>
    <select id="getAreaStatic" resultType="cn.huihongcloud.entity.AreaStatic">
        select sum(num) beetlesNum,sum(other_num) otherNum,((sum(num) + sum(other_num))/count(device_Id)) avager,(sum(other_num)/count(device_Id)) avagerother,CustomTown
        from device_maintenance t1 left join device t2 on t1.device_id = t2.id where CustomProject = #{customProject}

        <if test="startDate != null and startDate != ''">
            and DATE(`date`) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE(`date`) &lt;= #{endDate}
        </if>

        group by CustomTown;





    </select>
    <select id="getMonthStatic" resultType="cn.huihongcloud.entity.AreaStatic">
        select sum(num) beetlesNum,sum(other_num) otherNum,MONTH(`date`) CustomTown from device_maintenance t1 left join device t2 on t1.device_id = t2.id
        where CustomProject = #{customProject}

        <if test="startDate != null and startDate != ''">
            and DATE(`date`) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE(`date`) &lt;= #{endDate}
        </if>

        group by MONTH(`date`)
    </select>
    <select id="getBatchStatic" resultType="cn.huihongcloud.entity.AreaStatic">
        select sum(num) beetlesNum,sum(other_num) otherNum,((sum(num) + sum(other_num))/count(device_Id)) avager,batch CustomTown
        from device_maintenance t1 left join device t2 on t1.device_id = t2.id where CustomProject = #{customProject}
        <if test="startDate != null and startDate != ''">
            and DATE(`date`) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE(`date`) &lt;= #{endDate}
        </if>

         group by batch
    </select>

    <select id="getWorkerStatic" resultType="cn.huihongcloud.entity.WorkerStatic">
        select username workerName,count(t1.username) num,DATE(`date`) currentDate,sum(t1.num) num1,sum(t1.other_num) num2,(sum(t1.num)+sum(t1.other_num)) num3 from device_maintenance t1
        left join device t2 on t2.id = t1.device_id where CustomProject = #{customProject}
        <if test="startDate != null and startDate != ''">
            and DATE(`date`) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE(`date`) &lt;= #{endDate}
        </if>

         group by workerName,DATE(`date`)
    </select>

</mapper>
