<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.Device_Injection_maintanceEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    <constructor >
      <arg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="device_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="serial" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="region" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="submit_date" jdbcType="TIMESTAMP" javaType="java.lang.String" />
      <arg column="batch" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="injection_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="WoodStatus" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Worker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scanId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="altitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dataPrecision" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String"/>
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="town" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reported" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="inject_name" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="chest_diameter" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    insert into Device_Injection_maintance (id, device_Id, serial,
      region, submit_date, batch,
      longitude, latitude, work_content,
      injection_num, WoodStatus, Pic,
      Worker, Remarks, scanId,username,altitude,dataPrecision,province,city,area,town,reported,inject_name,chest_diameter
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{serial,jdbcType=VARCHAR},
      #{region,jdbcType=VARCHAR}, #{submitDate,jdbcType=TIMESTAMP}, #{batch,jdbcType=INTEGER},
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{workContent,jdbcType=VARCHAR},
      #{injectionNum,jdbcType=INTEGER}, #{woodstatus,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR},
      #{worker,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{scanid,jdbcType=BIGINT}, #{username.jdbcType=VARCHAR}
      ,#{altitude,jdbcType=VARCHAR},#{dataPrecision,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{town,jdbcType=VARCHAR}
      ,#{reported,jdbcType=INTEGER},#{injectName,jdbcType=VARCHAR},#{chestDiameter,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.huihongcloud.entity.Device_Injection_maintanceEntity" >
    insert into Device_Injection_maintance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_Id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="workContent != null" >
        work_content,
      </if>
      <if test="injectionNum != null" >
        injection_num,
      </if>
      <if test="woodstatus != null" >
        WoodStatus,
      </if>
      <if test="pic != null" >
        Pic,
      </if>
      <if test="worker != null" >
        Worker,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="scanid != null" >
        scanId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="altitude != null" >
        altitude,
      </if>
      <if test="dataPrecision != null" >
        dataPrecision,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="town != null" >
        town
      </if>
      <if test="reported != null" >
        reported
      </if>




    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="injectionNum != null" >
        #{injectionNum,jdbcType=INTEGER},
      </if>
      <if test="woodstatus != null" >
        #{woodstatus,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="scanid != null" >
        #{scanid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="dataPrecision != null" >
        #{dataPrecision,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>

      <if test="reported != null" >
        #{reported,jdbcType=INTEGER}
      </if>



    </trim>
  </insert>

    <insert id="addMaintanceData">
        insert into Device_Injection_maintance (serial,region,submit_date,batch,Worker,device_Id,longitude,latitude,altitude,dataPrecision,woodstatus,injection_num,Remarks,work_content,Pic,username,town,inject_name,chest_diameter)
        values (#{serial},#{region},#{submitDate},#{batch},#{worker},#{deviceId},#{longitude},#{latitude},#{altitude},#{dataPrecision},#{woodstatus},#{injectionNum},#{remarks},#{workContent},#{pic},#{username},#{town},#{injectName},#{chestDiameter})
    </insert>

    <update id="reportData">
        update Device_Injection_maintance
        set reported = 1
        where id = #{id}
  </update>

  <update id="updateRecordById">
    update device_injection_maintance set device_Id=#{deviceId},serial=#{serial},region=#{region},
    submit_date=#{submitDate},batch=#{batch},longitude=#{longitude},latitude=#{latitude},work_content=#{workContent},
    injection_num=#{injectionNum},worker=#{worker},remarks=#{remarks},altitude=#{altitude},woodstatus=#{woodstatus},inject_name = #{injectName},chest_diameter = #{chestDiameter} where id=#{id};
  </update>
  <update id="updateRecordByFront">
    update device_injection_maintance t1 left join device t2 on t2.id = t1.device_Id
    <set>
      <if test="altitude != null and altitude != ''">
        t1.altitude = #{altitude},
        t2.altitude = #{altitude},
      </if>
      <if test="batch != null and batch != ''">
        batch = #{batch},
      </if>
      <if test="deviceId != null and deviceId != ''">
        device_Id = #{deviceId},
      </if>
      <if test="injectionNum != null and injectionNum != ''">
        injection_num = #{injectionNum},
      </if>
      <if test="latitude != null">
        t1.latitude = #{latitude},
        t2.latitude = #{latitude},
      </if>
      <if test="longitude != null and longitude != ''">
        t1.longitude = #{longitude},
        t2.longitude = #{longitude},
      </if>
      <if test="region != null and region != ''">
        region = #{region},
      </if>
      <if test="serial != null and serial != ''">
        serial = #{serial},
      </if>
      <if test="submitDate != null and submitDate != ''">
        submit_date = #{submitDate},
      </if>
      <if test="woodstatus != null and woodstatus != ''">
        woodstatus = #{woodstatus},
      </if>
      <if test="workContent != null and workContent != ''">
        work_content = #{workContent},
      </if>
      <if test="injectName != null and injectName != ''">
        inject_name = #{injectName},
      </if>
      <if test="chestDiameter != null and chestDiameter != ''">
        chest_diameter = #{chest_diameter},
      </if>
      <if test="customtown != null and customtown != ''">
        t2.CustomTown = #{customtown},
      </if>
    </set>
    where t1.id = #{id}

  </update>


  <delete id="deleteRecord">
    delete from device_injection_maintance where id=#{id};
  </delete>

  <select id="selectById" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
        SELECT * FROM Device_Injection_maintance WHERE id = #{id};
    </select>

    <select id="selectAll" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
      select * from Device_Injection_maintance WHERE username like concat('%',#{username},'%') LIMIT #{page1},#{page2};
    </select>

    <select id="selectByConditions" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
        select device_injection_maintance.*,(inject_woodstatus.name) woodStatusName,device.CustomTown from device_injection_maintance left join device on device_injection_maintance.device_Id = device.id
         left join inject_woodstatus on device_injection_maintance.woodstatus = inject_woodstatus.id
         where CustomProject = #{customProject}
        <if test="searchText != null and searchText != ''">
          <choose>
            <when test="optionIndex == 1">
              and device.CustomSerial = #{searchText}
            </when>
            <when test="optionIndex == 2">
              and device.CustomTown = #{searchText}
            </when>
            <when test="optionIndex == 3">
              and batch = #{searchText}
            </when>
            <when test="optionIndex == 4">
              and Worker = #{searchText}
            </when>
            <otherwise>
              and concat(device_Id,CustomTown,batch,Worker) like concat('%',#{searchText},'%')
            </otherwise>
          </choose>
        </if>
        <if test="startDate != null and startDate != ''">
          and submit_date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
          and submit_date &lt;= #{endDate}
        </if>
    </select>

  <select id="CountAll" resultType="java.lang.Integer">
    select count(id) from Device_Injection_maintance WHERE username = #{username};
  </select>

    <select id="queryDeviceSummaryByArea" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
      select count(distinct device_id) deviceCount, sum(injection_num) injectNum, Device_Injection_maintance.town `name`, device.adcode code
      from Device_Injection_maintance
      left join device on Device_Injection_maintance.device_Id = device.id
      where adcode like concat(#{adcode}, '%')
      and Device_Injection_maintance.town is not null
      <if test="startDate != null and startDate !=''">
        and submit_Date &gt;= #{startDate}
      </if>
      <if test="endDate != null and endDate !=''">
        and submit_Date &lt;= #{endDate}
      </if>
      group by Device_Injection_maintance.town
    </select>

  <select id="getMaintenanceDataByAdcodeAndTownArea" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    sum(Device_Injection_maintance.injection_num) injection_num,
    Device_Injection_maintance.Worker,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.Remarks,
    Device_Injection_maintance.reported,
    Device_Injection_maintance.inject_name,
    Device_Injection_maintance.chest_diameter,
    device.province,
    device.city,
    device.area,
    Device_Injection_maintance.town,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.username,
    Device_Injection_maintance.WoodStatus
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_Injection_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username = #{condition} or
      device.province = #{condition} or
      device.city = #{condition} or
      device.area =  #{condition} or
      Device_Injection_maintance.town = #{condition} or
      Device_Injection_maintance.device_Id = #{condition} or
      device.manager=#{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    group by device_Id,Device_Injection_maintance.Worker

    order by submit_date desc

  </select>

  <select id="getMaintenanceDataByManagerArea" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    sum(Device_Injection_maintance.injection_num) injection_num,
    Device_Injection_maintance.Worker,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.Remarks,
    Device_Injection_maintance.inject_name,
    Device_Injection_maintance.chest_diameter,
    Device_Injection_maintance.reported,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.WoodStatus,
    Device_Injection_maintance.username
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      device.town = #{condition} or
      Device_Injection_maintance.device_Id = #{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_Injection_maintance.Worker
    order by submit_date desc
  </select>
  <select id="getMaintenanceDataByDeviceId" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select * from Device_Injection_maintance
    where device_Id = #{deviceId}

    <if test="myusername != null and myusername !=''">
      and username = #{myusername}
    </if>
    <if test="startDate != null and startDate !='' and startDate != 'null 00:00:00'">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !='' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
  </select>

  <select id="queryDeviceSummaryByManager" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_Id) deviceCount, sum(injection_num) injectNum, device.manager `name`, device.adcode code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_Id = device.id
    where device.adcode like concat(#{adcode}, '%')

    and device.manager is not null
    and device.project = '注干剂监测'

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by device.manager
  </select>

    <select id="getMaintenanceDataByAdcodeAndTown1"
            resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
      select Device_Injection_maintance.id,
      Device_Injection_maintance.device_Id,
      Device_Injection_maintance.batch,
      Device_Injection_maintance.injection_num,
      Device_Injection_maintance.username,
      user.name,
      Device_Injection_maintance.submit_date,
      Device_Injection_maintance.longitude,
      Device_Injection_maintance.latitude,
      Device_Injection_maintance.altitude,
      Device_Injection_maintance.Pic,
      Device_Injection_maintance.WoodStatus,
      Device_Injection_maintance.inject_name,
      Device_Injection_maintance.chest_diameter,
      Device_Injection_maintance.scanId,
      Device_Injection_maintance.Remarks,
      device.province,
      device.city,
      device.area,
      Device_Injection_maintance.town,
      Device_Injection_maintance.work_content,
      Device_Injection_maintance.reported
      from Device_Injection_maintance
      left join device on device.id = Device_Injection_maintance.device_Id
      left join user on Device_Injection_maintance.username = user.username
      where device_Id in
      (select id from device where
      1 = 1
      <if test="adcode != null and adcode != ''">
        and
        adcode like concat(#{adcode}, '%')
      </if>

      <if test="town != null and town != ''">
        and
        town = #{town}
      </if>
      )
      <if test="condition != null and condition != '' and condition !='null'">
        and (
        user.username like concat('%', #{condition}, '%') or
        device.province like concat('%', #{condition}, '%') or
        device.city like concat('%', #{condition}, '%') or
        device.area like concat('%', #{condition}, '%') or
        device.town like concat('%', #{condition}, '%') or
        user.username like concat('%', #{condition}, '%') or
        user.name like concat('%', #{condition}, '%') or
        Device_Injection_maintance.device_Id like concat('%', #{condition}, '%')

        )
      </if>
      <if test="batch != null and batch != '' and batch !='null'">
        and `batch` = #{batch}
      </if>
      <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
        and submit_date &gt;= #{date}
      </if>
      <if test="searchtown != null and searchtown != '' and searchtown !='null'">
        and device.town like concat('%', #{searchtown}, '%')
      </if>
      <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
        and submit_date &lt;= #{endDate}
      </if>
      <if test="reported != null and reported != ''">
        and reported = #{reported}
      </if>

      order by submit_date desc
    </select>

  <select id="getMaintenanceDataByManager1" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select Device_Injection_maintance.id,
    Device_Injection_maintance.device_Id,
    Device_Injection_maintance.batch,
    Device_Injection_maintance.injection_num,
    Device_Injection_maintance.work_content,
    Device_Injection_maintance.WoodStatus,
    Device_Injection_maintance.username,
    user.name,
    Device_Injection_maintance.submit_date,
    Device_Injection_maintance.longitude,
    Device_Injection_maintance.latitude,
    Device_Injection_maintance.altitude,
    Device_Injection_maintance.inject_name,
    Device_Injection_maintance.chest_diameter,
    Device_Injection_maintance.Pic,
    Device_Injection_maintance.scanId,
    Device_Injection_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_Injection_maintance.region,
    Device_Injection_maintance.reported
    from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_Id
    left join user on Device_Injection_maintance.username = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      device.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_Injection_maintance.device_Id like concat('%', #{condition}, '%')
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and device.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    order by submit_date desc
  </select>
  <select id="queryDeviceSummaryByCity" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_id) deviceCount, sum(injection_num) injectNum, device.area `name`, device.adcode code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_id = device.id
    where adcode like concat(#{adcode}, '%')

    and  device.area is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by device.area
  </select>

  <select id="queryDeviceSum" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(injection_num) injectNum
    from Device_Injection_maintance

    left join device on device.id = Device_Injection_maintance.device_Id
    where adcode like concat(#{adcode}, '%')

    <if test="startDate != null and startDate !=''">

      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">

      and submit_date &lt;= #{endDate}
    </if>
  </select>

  <select id="queryDeviceSum4" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(injection_num) injectNum from Device_Injection_maintance
    left join device on device.id = Device_Injection_maintance.device_id
    left join user on Device_Injection_maintance.username = user.username
    where parent = #{adcode}

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="queryWorkerSummaryByAdcode" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_Id) deviceCount, sum(injection_num) injectNum, Worker `name`, Worker code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and username is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by username
  </select>

  <select id="queryWorkerSummaryByManager" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_Id) deviceCount, sum(injection_num) injectNum, Device_Injection_maintance.Worker `name`, Device_Injection_maintance.Worker code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_Id = device.id
    left join user on Device_Injection_maintance.Worker = user.username
    where parent = #{manager}

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by Device_Injection_maintance.Worker
  </select>
  <select id="queryDeviceSummaryByProvince" resultType="cn.huihongcloud.entity.summary.InjectionSummary">
    select count(distinct device_Id ) deviceCount, sum(injection_num) injectNum, device.city `name`, device.adcode code
    from Device_Injection_maintance
    left join device on Device_Injection_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and device.city is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>

    group by device.city
  </select>
  <select id="getDeviceByLocation" resultType="cn.huihongcloud.entity.device.Device">
    select * from device where project = '注干剂监测'
    <if test="adcode != null and adcode != ''">
      and adcode like '${adcode}%'
    </if>
    <if test="town != null and town != ''">
      and town = #{town}
    </if>

    <if test="searchText != null and searchText != ''">
      and (id = #{searchText} or
      province like concat('%', #{searchText}, '%') or
      city like concat('%', #{searchText}, '%') or
      area like concat('%', #{searchText}, '%') or
      town like concat('%', #{searchText}, '%'))
    </if>

  </select>
  <select id="getDeviceByManager" resultType="cn.huihongcloud.entity.device.Device">
      select * from device where manager = #{manager} AND project = '注干剂监测'
  </select>
  <select id="getDeviceByWorker" resultType="cn.huihongcloud.entity.device.Device">
        select device.*
        from device
        left join device_map on device.id = device_map.device_id
        where user_id = #{worker}
        AND project = '注干剂监测'
  </select>

  
  <select id="selectByCustomReigon" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select device.CustomTown,device_injection_maintance.*,sum(device_injection_maintance.injection_num) injectNumSum,
    sum(if(device_injection_maintance.woodstatus=#{deadId},1,0)) WoodStatusSum,
     count(device_injection_maintance.id) woodNum
    from device left join device_injection_maintance on device.id = device_injection_maintance.device_Id
    <if test="startDate != null and startDate != ''">
      where submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and submit_date &lt;= #{endDate}
    </if>
    group by device.CustomTown
  </select>
    <select id="getMaxBatch" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
      select * from device_injection_maintance where device_Id = #{deviceId} order by batch desc;
    </select>
  <select id="selectById2" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
     select * from device_injection_maintance where id = #{id};
  </select>

  <select id="selectByDateAndColSearch" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    SELECT * FROM  device_injection_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.adcode
    LIKE concat(#{adcode}, '%')
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>

  </select>

  <select id="getDeadStatus" resultType="cn.huihongcloud.entity.inject_WoodStatus">
    select * from inject_woodstatus where inject_woodstatus.`name`='枯死'
  </select>
  <select id="selectByConditionsAdcode" resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select * from device_injection_maintance left join device on device_Id = device.id where adcode like concat('%' ,#{adcode}, '%')
    <if test="searchText != null and searchText != ''">
      <choose>
        <when test="optionIndex == 1">
          and device.CustomSerial = #{searchText}
        </when>
        <when test="optionIndex == 2">
          and device.CustomTown = #{searchText}
        </when>
        <when test="optionIndex == 3">
          and batch = #{searchText}
        </when>
        <when test="optionIndex == 4">
          and Worker = #{searchText}
        </when>
        <otherwise>
          and concat(device_Id,CustomTown,batch,Worker) like concat('%',#{searchText},'%')
        </otherwise>
      </choose>
    </if>
    <if test="startDate != null and startDate != ''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="selectByCustomReigonCustomProject"
          resultType="cn.huihongcloud.entity.Device_Injection_maintanceEntity">
    select device.CustomTown,device_injection_maintance.*,sum(device_injection_maintance.injection_num) injectNumSum,
    sum(if(device_injection_maintance.woodstatus=#{deadId},1,0)) WoodStatusSum,
    count(device_injection_maintance.id) woodNum
    from device left join device_injection_maintance on device.id = device_injection_maintance.device_Id
    where device.CustomProject = #{customProject} group by device.CustomTown
    <if test="startDate != null and startDate != ''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate != ''">
      and submit_date &lt;= #{endDate}
    </if>
  </select>


</mapper>
