<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.Device_DeadTrees_maintanceEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity" >
    <constructor >
      <arg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="device_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="serial" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="submit_date" jdbcType="TIMESTAMP" javaType="java.lang.String" />
      <arg column="batch" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="woodDiameter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="woodHeight" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="woodVolume" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="KillMethod" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Worker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scanId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="region" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity" >
    insert into Device_DeadTrees_maintance (id, device_Id, serial, 
      submit_date, batch, longitude, 
      latitude, woodDiameter, woodHeight, 
      woodVolume, KillMethod, Worker, 
      Remarks, scanId, Pic, username, region
      )
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{serial,jdbcType=VARCHAR}, 
      #{submitDate,jdbcType=TIMESTAMP}, #{batch,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{wooddiameter,jdbcType=VARCHAR}, #{woodheight,jdbcType=VARCHAR}, 
      #{woodvolume,jdbcType=VARCHAR}, #{killmethod,jdbcType=VARCHAR}, #{worker,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{scanid,jdbcType=BIGINT}, #{pic,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
      #{region,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity" >
    insert into Device_DeadTrees_maintance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_Id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="wooddiameter != null" >
        woodDiameter,
      </if>
      <if test="woodheight != null" >
        woodHeight,
      </if>
      <if test="woodvolume != null" >
        woodVolume,
      </if>
      <if test="killmethod != null" >
        KillMethod,
      </if>
      <if test="worker != null" >
        Worker,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="scanid != null" >
        scanId,
      </if>
      <if test="pic != null" >
        Pic,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="region != null" >
        region,
      </if>


    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="wooddiameter != null" >
        #{wooddiameter,jdbcType=VARCHAR},
      </if>
      <if test="woodheight != null" >
        #{woodheight,jdbcType=VARCHAR},
      </if>
      <if test="woodvolume != null" >
        #{woodvolume,jdbcType=VARCHAR},
      </if>
      <if test="killmethod != null" >
        #{killmethod,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="scanid != null" >
        #{scanid,jdbcType=BIGINT},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
    <insert id="addMaintance">
      insert into Device_DeadTrees_maintance (Pic,serial,submit_date,batch,region,username,Worker,device_Id,longitude,latitude,altitude,accuracy,woodDiameter,woodHeight,woodVolume,KillMethod,Remarks,town)
      values (#{pic},#{serial},#{submitDate},#{batch},#{region},#{username},#{worker},#{deviceId},#{longitude},#{latitude},#{altitude},#{accuracy},#{wooddiameter},#{woodheight},#{woodvolume},#{killmethod},#{remarks},#{town})
    </insert>
  <update id="updateRecordById">
    update device_deadtrees_maintance set device_Id=#{deviceId},serial=#{serial},submit_date=#{submitDate},batch=#{batch},longitude=#{longitude},latitude=#{latitude},
    woodDiameter = #{wooddiameter},woodHeight = #{woodheight}, woodvolume = #{woodvolume},killmethod = #{killmethod},
    worker = #{worker},remarks=#{remarks},scanid=#{scanid},pic=#{pic},username=#{username},region=#{region},
    altitude=#{altitude},accuracy=#{accuracy} where id = #{id}
  </update>
    <update id="updateRecordByFront">
      update device_deadtrees_maintance t1 left join device t2 on t2.id = t1.device_Id
      <set>
        <if test="batch != null and batch != ''">
          t1.batch = #{batch},
        </if>
        <if test="killmethod != null and killmethod != ''">
          killmethod = #{killmethod},
        </if>
        <if test="latitude != null and latitude != ''">
          t1.latitude = #{latitude},
          t2.latitude = #{latitude},
        </if>
        <if test="longitude != null and longitude != ''">
          t1.longitude = #{longitude},
          t2.longitude = #{longitude},
        </if>
        <if test="region != null and region != ''">
          t1.region = #{region},
        </if>
        <if test="serial != null and serial != ''">
          t1.serial = #{serial},
        </if>
        <if test="wooddiameter != null and wooddiameter != ''">
          wooddiameter = #{wooddiameter},
        </if>
        <if test="submitDate != null and submitDate != ''">
          submit_date = #{submitDate},
        </if>
        <if test="woodheight != null and woodheight != ''">
          woodheight = #{woodheight},
        </if>
        <if test="woodvolume != null and woodvolume != ''">
          t1.woodvolume = #{woodvolume},
        </if>
        <if test="customTown != null and customTown != ''">
          t2.CustomTown = #{customTown},
        </if>
        <if test="worker != null and worker != ''">
          t1.worker = #{worker},
        </if>
        <if test="remarks != null and remarks != ''">
          t1.Remarks = #{remarks},
        </if>
      </set>
      where t1.id = #{id}

    </update>
  <update id="reportData">
        update Device_DeadTrees_maintance
        set reported = 1
        where id = #{id}

  </update>
  <delete id="deleteById">
      delete from  device_deadtrees_maintance where id = #{id}
    </delete>
    <select id="selectAll" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    SELECT * FROM Device_DeadTrees_maintance WHERE username = #{username} LIMIT #{num1},#{num2}
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    SELECT COUNT(t1.id) FROM Device_DeadTrees_maintance t1
    left join device on device.id = t1.device_Id WHERE username = #{username}
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>

  </select>

    <select id="countAllByArea" resultType="java.lang.Integer">
      SELECT COUNT(Device_DeadTrees_maintance.id) FROM Device_DeadTrees_maintance left join device on device.id = device_Id where adcode = #{adcode}
        <if test="startDate!=null and startDate !=''">
            and Device_DeadTrees_maintance.submit_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and Device_DeadTrees_maintance.submit_date &lt;= #{endDate}
        </if>
        <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
            and ${colName} = #{searchText}
        </if>
    </select>

  <select id="selectAllByArea" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    SELECT * FROM Device_DeadTrees_maintance left join device on device.id = device_Id where adcode = #{adcode} LIMIT #{num1},#{num2};
  </select>

    <select id="selectByDateAndColSearch" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
      SELECT * FROM  Device_DeadTrees_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
      WHERE t2.CustomProject = #{customProject}
      <if test="startDate!=null and startDate !=''">
        and t1.submit_date >= #{startDate}
      </if>
      <if test="endDate != null and endDate !=''">
        and t1.submit_date &lt;= #{endDate}
      </if>
      <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
        and ${colName} = #{searchText}
      </if>
      LIMIT #{num1},#{num2}

    </select>
    <select id="selectAllByAdcode" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
        SELECT * FROM Device_DeadTrees_maintance t1 LEFT JOIN  device t2 ON t1.device_Id = t2.id
        WHERE t2.adcode LIKE concat(#{adcode},'%')
        LIMIT #{num1},#{num2}
    </select>
    <select id="getDeviceByLocation" resultType="cn.huihongcloud.entity.device.Device">
      select * from device where 1 = 1 and project = '枯死树采伐'
      <if test="adcode != null and adcode != ''">
        and adcode like '${adcode}%'
      </if>
      <if test="town != null and town != ''">
        and town = #{town}
      </if>

      <if test="searchText != null and searchText != ''">
        and (id = #{searchText} or
        province like concat('%', #{searchText}, '%') or
        city like concat('%', #{searchText}, '%') or
        area like concat('%', #{searchText}, '%') or
        town like concat('%', #{searchText}, '%'))
      </if>
    </select>
  <select id="getDeviceByManager" resultType="cn.huihongcloud.entity.device.Device">
        select * from device where manager = #{manager} AND project = '枯死树采伐'
  </select>
  <select id="getDeviceByWorker" resultType="cn.huihongcloud.entity.device.Device">
        select device.*
        from device
        left join device_map on device.id = device_map.device_id
        where user_id = #{worker}
        AND project = '枯死树采伐'
  </select>
    <select id="selectById" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
      select * from device_deadtrees_maintance where id = #{id};
    </select>
    <select id="getMaxBatch" resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
      select * from device_deadtrees_maintance where device_Id = #{deviceId} order by batch desc;
    </select>
  <select id="selectByDateAndColSearchAdcode"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">

    SELECT * FROM  Device_DeadTrees_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.adcode like concat('%', #{adcode}, '%')
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
  </select>
  <select id="selectWorkDayByDateAndColSearch"
          resultType="java.lang.Integer">
    SELECT count(distinct DATE(t1.submit_date)) FROM  Device_DeadTrees_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.CustomProject = #{customProject}
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
  </select>
  <select id="selectAllByDateAndColSearch"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    SELECT * FROM  Device_DeadTrees_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.CustomProject = #{customProject}
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
  </select>
  <select id="queryDeviceSummaryByArea" resultType="cn.huihongcloud.entity.summary.DeadTreesSummary">
    select count(distinct device_Id) woodNum, sum(woodVolume) woodVolume, Device_DeadTrees_maintance.town `name`, device.adcode code
    from Device_DeadTrees_maintance
    left join device on Device_DeadTrees_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and Device_DeadTrees_maintance.town is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by Device_DeadTrees_maintance.town
  </select>
  <select id="queryDeviceSummaryByManager" resultType="cn.huihongcloud.entity.summary.DeadTreesSummary">
    select count(distinct device_Id) woodNum, sum(Device_DeadTrees_maintance.woodVolume) woodVolume, device.manager `name`, device.adcode code
    from Device_DeadTrees_maintance
    left join device on Device_DeadTrees_maintance.device_Id = device.id
    where device.adcode like concat(#{adcode}, '%')

    and device.manager is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by device.manager
  </select>
  <select id="queryDeviceSum" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(woodVolume) `sum`
    from Device_DeadTrees_maintance

    left join device on device.id = Device_DeadTrees_maintance.device_Id
    where adcode like concat(#{adcode}, '%')

    <if test="startDate != null and startDate !=''">

      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">

      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="queryDeviceSum4" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(woodVolume) `sum` from Device_DeadTrees_maintance
    left join device on device.id = Device_DeadTrees_maintance.device_Id
    left join user on Device_DeadTrees_maintance.username = user.username
    where parent = #{adcode}

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="getMaintenanceDataByAdcodeAndTownArea"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    select Device_DeadTrees_maintance.id,
    Device_DeadTrees_maintance.device_Id,
    Device_DeadTrees_maintance.batch,
    sum(Device_DeadTrees_maintance.woodVolume) woodVolume,
    Device_DeadTrees_maintance.Worker,
    user.name,
    Device_DeadTrees_maintance.submit_date,
    Device_DeadTrees_maintance.longitude,
    Device_DeadTrees_maintance.latitude,
    Device_DeadTrees_maintance.altitude,
    Device_DeadTrees_maintance.Pic,
    Device_DeadTrees_maintance.Remarks,
    Device_DeadTrees_maintance.reported,
    device.province,
    device.city,
    device.area,
    Device_DeadTrees_maintance.town,
    Device_DeadTrees_maintance.scanId,
    Device_DeadTrees_maintance.username,
    Device_DeadTrees_maintance.KillMethod,
    Device_DeadTrees_maintance.region
    from Device_DeadTrees_maintance
    left join device on device.id = Device_DeadTrees_maintance.device_Id
    left join user on Device_DeadTrees_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_DeadTrees_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username = #{condition} or
      device.province = #{condition} or
      device.city = #{condition} or
      device.area =  #{condition} or
      Device_DeadTrees_maintance.town = #{condition} or
      Device_DeadTrees_maintance.device_Id = #{condition} or
      device.manager=#{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    group by device_Id,Device_DeadTrees_maintance.Worker

    order by submit_date desc

  </select>
  <select id="getMaintenanceDataByManagerArea"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    select Device_DeadTrees_maintance.id,
    Device_DeadTrees_maintance.device_Id,
    Device_DeadTrees_maintance.batch,
    sum(Device_DeadTrees_maintance.woodVolume) woodVolume,
    Device_DeadTrees_maintance.Worker,
    user.name,
    Device_DeadTrees_maintance.submit_date,
    Device_DeadTrees_maintance.longitude,
    Device_DeadTrees_maintance.latitude,
    Device_DeadTrees_maintance.altitude,
    Device_DeadTrees_maintance.Pic,
    Device_DeadTrees_maintance.Remarks,
    Device_DeadTrees_maintance.reported,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_DeadTrees_maintance.region,
    Device_DeadTrees_maintance.KillMethod,
    Device_DeadTrees_maintance.username
    from Device_DeadTrees_maintance
    left join device on device.id = Device_DeadTrees_maintance.device_Id
    left join user on Device_DeadTrees_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_DeadTrees_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      Device_DeadTrees_maintance.town = #{condition} or
      Device_DeadTrees_maintance.device_Id = #{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_DeadTrees_maintance.Worker
    order by submit_date desc

  </select>
  <select id="getMaintenanceDataByDeviceId"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    select * from Device_DeadTrees_maintance
    where device_Id = #{deviceId}

    <if test="myusername != null and myusername !=''">
      and username = #{myusername}
    </if>
    <if test="startDate != null and startDate !='' and startDate != 'null 00:00:00'">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !='' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="getMaintenanceDataByAdcodeAndTown1"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    select Device_DeadTrees_maintance.id,
    Device_DeadTrees_maintance.device_Id,
    Device_DeadTrees_maintance.batch,
    Device_DeadTrees_maintance.woodVolume,
    Device_DeadTrees_maintance.username,
    user.name,
    Device_DeadTrees_maintance.submit_date,
    Device_DeadTrees_maintance.longitude,
    Device_DeadTrees_maintance.latitude,
    Device_DeadTrees_maintance.altitude,
    Device_DeadTrees_maintance.Pic,
    Device_DeadTrees_maintance.scanId,
    Device_DeadTrees_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    Device_DeadTrees_maintance.town,
    Device_DeadTrees_maintance.Worker,
    Device_DeadTrees_maintance.reported,
    Device_DeadTrees_maintance.KillMethod,
    Device_DeadTrees_maintance.region
    from Device_DeadTrees_maintance
    left join device on device.id = Device_DeadTrees_maintance.device_Id
    left join user on Device_DeadTrees_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_DeadTrees_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      Device_DeadTrees_maintance.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_DeadTrees_maintance.device_Id like concat('%', #{condition}, '%')

      )
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and Device_DeadTrees_maintance.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="reported != null and reported != ''">
      and reported = #{reported}
    </if>

    order by submit_date desc

  </select>

  <select id="getMaintenanceDataByManager1"
          resultType="cn.huihongcloud.entity.Device_DeadTrees_maintanceEntity">
    select Device_DeadTrees_maintance.id,
    Device_DeadTrees_maintance.device_Id,
    Device_DeadTrees_maintance.batch,
    Device_DeadTrees_maintance.woodVolume,
    Device_DeadTrees_maintance.KillMethod,
    Device_DeadTrees_maintance.region,
    Device_DeadTrees_maintance.Worker,
    user.name,
    Device_DeadTrees_maintance.submit_date,
    Device_DeadTrees_maintance.longitude,
    Device_DeadTrees_maintance.latitude,
    Device_DeadTrees_maintance.altitude,
    Device_DeadTrees_maintance.Pic,
    Device_DeadTrees_maintance.scanId,
    Device_DeadTrees_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    Device_DeadTrees_maintance.town,
    Device_DeadTrees_maintance.reported
    from Device_DeadTrees_maintance
    left join device on device.id = Device_DeadTrees_maintance.device_Id
    left join user on Device_DeadTrees_maintance.username = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and Device_DeadTrees_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      Device_DeadTrees_maintance.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_DeadTrees_maintance.device_Id like concat('%', #{condition}, '%')
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and Device_DeadTrees_maintance.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    order by submit_date desc

  </select>
    <select id="selectWorkDayByDateAndColSearchAndAdcode" resultType="java.lang.Integer">
        SELECT count(distinct DATE(t1.submit_date)) FROM  Device_DeadTrees_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
        WHERE t2.adcode like concat(#{adcode}, '%')
        <if test="startDate!=null and startDate !=''">
            and t1.submit_date >= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and t1.submit_date &lt;= #{endDate}
        </if>
        <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
            and ${colName} = #{searchText}
        </if>
    </select>
</mapper>