<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.Device_NaturalEnemies_maintanceEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity" >
    <constructor >
      <arg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="device_Id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="serial" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="region" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="submit_date" jdbcType="TIMESTAMP" javaType="java.lang.String" />
      <arg column="batch" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PredatorsType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Release_Num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Pic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Worker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="scanId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="altitude" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity" >
    insert into Device_NaturalEnemies_maintance (id, device_Id, serial, 
      region, submit_date, batch, 
      longitude, latitude, PredatorsType, 
      Release_Num, Pic, Worker, 
      Remarks, scanId,username,altitude)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=BIGINT}, #{serial,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{submitDate,jdbcType=TIMESTAMP}, #{batch,jdbcType=INTEGER}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{predatorstype,jdbcType=VARCHAR}, 
      #{releaseNum,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, #{worker,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{scanid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR},#{altitude,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity" >
    insert into Device_NaturalEnemies_maintance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceId != null" >
        device_Id,
      </if>
      <if test="serial != null" >
        serial,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="batch != null" >
        batch,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="predatorstype != null" >
        PredatorsType,
      </if>
      <if test="releaseNum != null" >
        Release_Num,
      </if>
      <if test="pic != null" >
        Pic,
      </if>
      <if test="worker != null" >
        Worker,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="scanid != null" >
        scanId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="altitude != null" >
        altitude,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="serial != null" >
        #{serial,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="batch != null" >
        #{batch,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="predatorstype != null" >
        #{predatorstype,jdbcType=VARCHAR},
      </if>
      <if test="releaseNum != null" >
        #{releaseNum,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="worker != null" >
        #{worker,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="scanid != null" >
        #{scanid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
    <insert id="addMaintance">
        insert into Device_NaturalEnemies_maintance (reported,Pic,serial,submit_date,region,batch,username,Worker,device_Id,longitude,latitude,altitude,`precision`,PredatorsType,Release_Num,Remarks,town)
        values (#{reported},#{pic},#{serial},#{submitDate},#{region},#{batch},#{username},#{worker},#{deviceId},#{longitude},#{latitude},#{altitude},#{precision},#{predatorstype},#{releaseNum},#{remarks},#{town})
    </insert>
    <update id="reportData">
        update Device_NaturalEnemies_maintance
        set reported = 1
        where id = #{id}
  </update>
  <update id="updateRecordById">
    update device_naturalenemies_maintance set device_Id = #{deviceId},serial = #{serial},region = #{region},submit_date = #{submitDate},
    batch = #{batch}, longitude = #{longitude}, latitude = #{latitude}, PredatorsType = #{predatorstype},
    Release_Num = #{releaseNum}, pic = #{pic}, worker = #{worker}, remarks = #{remarks}, scanid = #{scanid},
    username = #{username},reported = #{reported}, altitude = #{altitude} where id = #{id}
  </update>

    <update id="updateRecordByFront">
      update device_naturalenemies_maintance t1 left join device t2 on t2.id = t1.device_Id
      <set>
        <if test="altitude != null and altitude != ''">
          t1.altitude = #{altitude},
          t2.altitude = #{altitude},
        </if>
        <if test="area != null and area != ''">
          area = #{area},
        </if>
        <if test="batch != null and batch != ''">
          batch = #{batch},
        </if>
        <if test="city != null and city != ''">
          city = #{city},
        </if>
        <if test="longitude != null and longitude != ''">
          t1.longitude = #{longitude},
          t2.longitude = #{longitude},
        </if>
        <if test="latitude != null and latitude != ''">
          t1.latitude = #{latitude},
          t2.latitude = #{latitude},
        </if>
        <if test="predatorstype != null and predatorstype != ''">
          predatorstype = #{predatorstype},
        </if>
        <if test="submitDate != null and submitDate != ''">
          submit_date = #{submitDate},
        </if>
        <if test="worker != null and worker != ''">
          worker = #{worker},
        </if>
        <if test="customtown != null and customtown != ''">
          t2.CustomTown = #{customtown},
        </if>
        <if test="releaseNum != null and releaseNum != ''">
          t1.Release_Num = #{releaseNum},
        </if>
      </set>
      where t1.id = #{id}

    </update>
    <delete id="deleteRecord">
    delete from device_naturalenemies_maintance where id = #{id};
  </delete>

  <select id="countAll" resultType="java.lang.Integer">
      SELECT count(t1.id) FROM Device_NaturalEnemies_maintance t1 left join device on
    device.id = t1.device_Id WHERE username = #{username}
    <if test="startDate!=null and startDate !=''">
      and t1.submit_date >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.submit_date &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>

    </select>
  <select id="selectAll" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    SELECT * FROM  Device_NaturalEnemies_maintance left join device on device.id = Device_NaturalEnemies_maintance.device_Id WHERE username = #{username} LIMIT #{num1},#{num2};
  </select>
    <select id="countAllByArea" resultType="java.lang.Integer">
      SELECT COUNT(Device_NaturalEnemies_maintance.id) FROM Device_NaturalEnemies_maintance left join device on device.id = device_Id where adcode = #{adcode};
    </select>
  <select id="selectAllByArea" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
        SELECT * FROM Device_NaturalEnemies_maintance left join device on device.id = device_Id where adcode = #{adcode} LIMIT #{num1},#{num2};
  </select>

  <select id="queryDeviceSummaryByArea" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
    select count(distinct device_Id) deviceCount, sum(Release_Num) releaseNum, Device_NaturalEnemies_maintance.town `name`, device.adcode code
    from Device_NaturalEnemies_maintance
    left join device on Device_NaturalEnemies_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and Device_NaturalEnemies_maintance.town is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by Device_NaturalEnemies_maintance.town
  </select>

  <select id="getMaintenanceDataByAdcodeAndTown2" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    sum(Device_NaturalEnemies_maintance.Release_Num) releaseNum,
    Device_NaturalEnemies_maintance.Worker,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.Remarks,
    Device_NaturalEnemies_maintance.region,

    device.province,
    device.city,
    device.area,
    device.town,
    Device_NaturalEnemies_maintance.reported
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      device.town = #{condition} or
      Device_NaturalEnemies_maintance.device_Id = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_NaturalEnemies_maintance.Worker
    order by submit_date desc
  </select>

  <select id="getMaintenanceDataByManager2" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    sum(Device_NaturalEnemies_maintance.Release_Num) releaseNum,
    Device_NaturalEnemies_maintance.Worker,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_NaturalEnemies_maintance.reported
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      device.town = #{condition} or
      Device_NaturalEnemies_maintance.device_Id = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_NaturalEnemies_maintance.Worker
    order by submit_date desc
  </select>

    <select id="queryDeviceSummaryByManager" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
      select count(distinct device_Id) deviceCount, sum(Device_NaturalEnemies_maintance.Release_Num) releaseNum, device.manager `name`, device.adcode code
      from Device_NaturalEnemies_maintance
      left join device on Device_NaturalEnemies_maintance.device_Id = device.id
      where device.adcode like concat(#{adcode}, '%')

      and device.manager is not null
      <if test="startDate != null and startDate !=''">
        and submit_date &gt;= #{startDate}
      </if>

      <if test="endDate != null and endDate !=''">
        and submit_date &lt;= #{endDate}
      </if>
      group by device.manager

    </select>

  <select id="queryDeviceSum" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(Release_Num) `sum`
    from Device_NaturalEnemies_maintance

    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    where adcode like concat(#{adcode}, '%')

    <if test="startDate != null and startDate !=''">

      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">

      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="queryDeviceSum4" resultType="java.util.Map">
    select count(distinct device_Id) `count`, sum(Release_Num) `sum` from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.username = user.username
    where parent = #{adcode}

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="getMaintenanceDataByAdcodeAndTownArea"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    sum(Device_NaturalEnemies_maintance.Release_Num) releaseNum,
    Device_NaturalEnemies_maintance.Worker,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.Remarks,
    Device_NaturalEnemies_maintance.reported,
    device.province,
    device.city,
    device.area,
    Device_NaturalEnemies_maintance.town,
    Device_NaturalEnemies_maintance.scanId,
    Device_NaturalEnemies_maintance.username,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.region
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_NaturalEnemies_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username = #{condition} or
      device.province = #{condition} or
      device.city = #{condition} or
      device.area =  #{condition} or
      Device_NaturalEnemies_maintance.town = #{condition} or
      Device_NaturalEnemies_maintance.device_Id = #{condition} or
      device.manager=#{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    group by device_Id,Device_NaturalEnemies_maintance.Worker

    order by submit_date desc
  </select>

  <select id="getMaintenanceDataByManagerArea"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    sum(Device_NaturalEnemies_maintance.Release_Num) releaseNum,
    Device_NaturalEnemies_maintance.Worker,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.Remarks,
    Device_NaturalEnemies_maintance.reported,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_NaturalEnemies_maintance.region,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.username
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username =#{condition} or
      device.province =#{condition} or
      device.city = #{condition} or
      device.area =#{condition} or
      device.town = #{condition} or
      Device_NaturalEnemies_maintance.device_Id = #{condition} or
      device.CustomProject = #{condition}
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>

    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    group by device_Id,Device_NaturalEnemies_maintance.Worker
    order by submit_date desc
  </select>
  <select id="getMaintenanceDataByDeviceId"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">

    select * from Device_NaturalEnemies_maintance
    where device_Id = #{deviceId}

    <if test="myusername != null and myusername !=''">
      and username = #{myusername}
    </if>
    <if test="startDate != null and startDate !='' and startDate != 'null 00:00:00'">
      and submit_date &gt;= #{startDate}
    </if>
    <if test="endDate != null and endDate !='' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>

  </select>
  <select id="getMaintenanceDataByAdcodeAndTown1"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    Device_NaturalEnemies_maintance.Release_Num,
    Device_NaturalEnemies_maintance.username,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.scanId,
    Device_NaturalEnemies_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    Device_NaturalEnemies_maintance.town,
    Device_NaturalEnemies_maintance.Worker,
    Device_NaturalEnemies_maintance.reported,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.region
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.Worker = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and
      adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and
      Device_NaturalEnemies_maintance.town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition !='null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      Device_NaturalEnemies_maintance.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_NaturalEnemies_maintance.device_Id like concat('%', #{condition}, '%')

      )
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and Device_NaturalEnemies_maintance.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate !='null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="reported != null and reported != ''">
      and reported = #{reported}
    </if>

    order by submit_date desc
  </select>

  <select id="getMaintenanceDataByManager1"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select Device_NaturalEnemies_maintance.id,
    Device_NaturalEnemies_maintance.device_Id,
    Device_NaturalEnemies_maintance.batch,
    Device_NaturalEnemies_maintance.Release_Num,
    Device_NaturalEnemies_maintance.PredatorsType,
    Device_NaturalEnemies_maintance.region,
    Device_NaturalEnemies_maintance.Worker,
    user.name,
    Device_NaturalEnemies_maintance.submit_date,
    Device_NaturalEnemies_maintance.longitude,
    Device_NaturalEnemies_maintance.latitude,
    Device_NaturalEnemies_maintance.altitude,
    Device_NaturalEnemies_maintance.Pic,
    Device_NaturalEnemies_maintance.scanId,
    Device_NaturalEnemies_maintance.Remarks,
    device.province,
    device.city,
    device.area,
    device.town,
    Device_NaturalEnemies_maintance.reported
    from Device_NaturalEnemies_maintance
    left join device on device.id = Device_NaturalEnemies_maintance.device_Id
    left join user on Device_NaturalEnemies_maintance.username = user.username
    where device_Id in
    (select id from device where
    1 = 1
    <if test="adcode != null and adcode != ''">
      and adcode like concat(#{adcode}, '%')
    </if>

    <if test="town != null and town != ''">
      and town = #{town}
    </if>
    )
    <if test="condition != null and condition != '' and condition != 'null'">
      and (
      user.username like concat('%', #{condition}, '%') or
      device.province like concat('%', #{condition}, '%') or
      device.city like concat('%', #{condition}, '%') or
      device.area like concat('%', #{condition}, '%') or
      device.town like concat('%', #{condition}, '%') or
      user.username like concat('%', #{condition}, '%') or
      user.name like concat('%', #{condition}, '%') or
      Device_NaturalEnemies_maintance.device_Id like concat('%', #{condition}, '%')
      )
    </if>
    <if test="date != null and date != '' and date !='null' and date != 'null 00:00:00'">
      and submit_date &gt;= #{date}
    </if>
    <if test="batch != null and batch != '' and batch !='null'">
      and `batch` = #{batch}
    </if>
    <if test="searchtown != null and searchtown != '' and searchtown !='null'">
      and device.town like concat('%', #{searchtown}, '%')
    </if>
    <if test="endDate != null and endDate != '' and endDate!= 'null' and endDate!= 'null 23:59:59'">
      and submit_date &lt;= #{endDate}
    </if>
    <if test="manager != null">
      and manager = #{manager}
    </if>

    order by submit_date desc
  </select>
    <select id="queryDeviceSummaryByCity" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
      select count(distinct device_Id) deviceCount, sum(Release_Num) releaseNum, device.area `name`, device.adcode code
      from Device_NaturalEnemies_maintance
      left join device on Device_NaturalEnemies_maintance.device_Id = device.id
      where adcode like concat(#{adcode}, '%')

      and  device.area is not null
      <if test="startDate != null and startDate !=''">
        and submit_date &gt;= #{startDate}
      </if>

      <if test="endDate != null and endDate !=''">
        and submit_date &lt;= #{endDate}
      </if>
      group by device.area

    </select>
  <select id="queryWorkerSummaryByAdcode" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
    select count(distinct device_Id) deviceCount, sum(Release_Num) releaseNum, Worker `name`, Worker code
    from Device_NaturalEnemies_maintance
    left join device on Device_NaturalEnemies_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and Worker is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by Worker
  </select>
  <select id="queryWorkerSummaryByManager" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
    select count(distinct device_Id) deviceCount, sum(Release_Num) releaseNum, Device_NaturalEnemies_maintance.Worker `name`, Device_NaturalEnemies_maintance.Worker code
    from Device_NaturalEnemies_maintance
    left join device on Device_NaturalEnemies_maintance.device_Id = device.id
    left join user on Device_NaturalEnemies_maintance.username = user.username
    where parent = #{manager}

    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>
    group by Device_NaturalEnemies_maintance.Worker
  </select>

  <select id="queryDeviceSummaryByProvince" resultType="cn.huihongcloud.entity.summary.NaturalSummary">
    select count(distinct device_Id ) deviceCount, sum(Release_Num) releaseNum, device.city `name`, device.adcode code
    from Device_NaturalEnemies_maintance
    left join device on Device_NaturalEnemies_maintance.device_Id = device.id
    where adcode like concat(#{adcode}, '%')

    and device.city is not null
    <if test="startDate != null and startDate !=''">
      and submit_date &gt;= #{startDate}
    </if>

    <if test="endDate != null and endDate !=''">
      and submit_date &lt;= #{endDate}
    </if>

    group by device.city
  </select>

  <select id="selectByDateAndColSearch" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">

     SELECT * FROM  Device_NaturalEnemies_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
     WHERE t2.CustomProject = #{customProject}

     <if test="startDate!=null and startDate !=''">
        and t1.`submit_date` >= #{startDate}
     </if>
    <if test="endDate != null and endDate !=''">
      and t1.`submit_date` &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
    LIMIT #{num1},#{num2}

  </select>
    <select id="getDeviceByLocation" resultType="cn.huihongcloud.entity.device.Device">
      select * from device where 1 = 1 and project = '天敌防治'
      <if test="adcode != null and adcode != ''">
        and adcode like '${adcode}%'
      </if>
      <if test="town != null and town != ''">
        and town = #{town}
      </if>

      <if test="searchText != null and searchText != ''">
        and (id = #{searchText} or
        province like concat('%', #{searchText}, '%') or
        city like concat('%', #{searchText}, '%') or
        area like concat('%', #{searchText}, '%') or
        town like concat('%', #{searchText}, '%'))
      </if>

    </select>
  <select id="getDeviceByManager" resultType="cn.huihongcloud.entity.device.Device">
     select * from device where manager = #{manager} AND project = '天敌防治'
  </select>

  <select id="getDeviceByWorker" resultType="cn.huihongcloud.entity.device.Device">
        select device.*
        from device
        left join device_map on device.id = device_map.device_id
        where user_id = #{worker}
        AND project = '天敌防治'
  </select>
    <select id="selectById" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
      select * from device_naturalenemies_maintance where id = #{id};
    </select>

    <select id="getMaxBatch" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
      select * from device_naturalenemies_maintance where device_Id = #{deviceId} order by batch desc;
    </select>

  <select id="workerQueryById" resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    select * from device_naturalenemies_maintance left join device on device_id = device.id where device.scanId = #{scanId};
  </select>
  <select id="selectByDateAndColSearchAdcode"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    SELECT * FROM  Device_NaturalEnemies_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.adcode like concat('%' , #{adcode}, '%')

    <if test="startDate!=null and startDate !=''">
      and t1.`submit_date` >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.`submit_date` &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
    LIMIT #{num1},#{num2}

  </select>
    <select id="selectDevicesByDateAndColSearch"
            resultType="java.lang.Integer">
      SELECT count(distinct device_Id) FROM  Device_NaturalEnemies_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
      WHERE t2.CustomProject = #{customProject}

      <if test="startDate!=null and startDate !=''">
        and t1.`submit_date` >= #{startDate}
      </if>
      <if test="endDate != null and endDate !=''">
        and t1.`submit_date` &lt;= #{endDate}
      </if>
      <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
        and ${colName} = #{searchText}
      </if>

    </select>
  <select id="selectAllByDateAndColSearch"
          resultType="cn.huihongcloud.entity.Device_NaturalEnemies_maintanceEntity">
    SELECT * FROM  Device_NaturalEnemies_maintance t1 LEFT JOIN device t2 ON t1.device_Id = t2.id
    WHERE t2.CustomProject = #{customProject}

    <if test="startDate!=null and startDate !=''">
      and t1.`submit_date` >= #{startDate}
    </if>
    <if test="endDate != null and endDate !=''">
      and t1.`submit_date` &lt;= #{endDate}
    </if>
    <if test="colName!=null and colName !='' and searchText!=null and searchText!=''">
      and ${colName} = #{searchText}
    </if>
  </select>
</mapper>