<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.huihongcloud.mapper.OtherBeetleMapper">
    <insert id="insertBeetleInfo">
        insert into beetle_info (`name`) values(#{name})
    </insert>
    <insert id="insertBeetleInfoMap">
        insert into beetle_info_map (beetle_info_id, adcode) values (#{beetleInfoId}, #{adcode})
    </insert>
    <insert id="insertWorkContent">
        insert into workContent (`name`,Fvalue) values (#{name},#{Fvalue});
    </insert>
    <insert id="insertInjectInfo">
        insert into injectInfo (`name`) values (#{name});
    </insert>
    <insert id="insertInject_WoodStatus">
        insert into inject_WoodStatus (`name`) values (#{name});
    </insert>
    <insert id="insertInject_WorkContent">
        insert into inject_WorkContent (`name`) values (#{name});
    </insert>
    <insert id="insertEnemy_Type">
        insert into enemy_EneType (`name`) values (#{name});
    </insert>
    <insert id="insertDead_Kill">
        insert into deadtree_KillMethods (`name`) values (#{name});
    </insert>
    <insert id="insertEnemy_TypeForTown">
        insert into enemy_EneType_map values (#{id},#{adcode});
    </insert>
    <insert id="insertWorkContentForTOwn">
        insert into workContent_map values (#{id},#{adcode});
    </insert>
    <insert id="insertInjectForTown">
        insert into injectInfo_map values (#{id},#{adcode});
    </insert>
    <insert id="insertInjectWood">
        insert into inject_WoodStatus_map values (#{id},#{adcode});
    </insert>
    <insert id="insertInjectWorkContentForTown">
         insert into inject_WorkContent_map values (#{id},#{adcode});
    </insert>
    <insert id="insertDeadKillFOrTown">
        insert into deadtrees_KillMethods_map values (#{id},#{adcode});
    </insert>
    <insert id="insertMedicine_WorkContent">
        insert into medicine_workcontent(`name`) values (#{name})
    </insert>
    <insert id="insertWorkContentForTOwn1">
        insert  into  medicine_workcontent_map values (#{id},#{adcode})
    </insert>
    <insert id="insertMedicine_Type">
                insert into medicine_name (`name`) values (#{name});
    </insert>
    <insert id="insertMedicine_TypeForTown">
         insert into medicine_nameinfo_map values (#{id},#{adcode});
    </insert>
    <insert id="insertInjectName_Type">
        insert into inject_name (`name`) values (#{name});
    </insert>
    <insert id="insertInjectName_TypeForTown">
        insert into inject_name_map values (#{id},#{adcode});
    </insert>
    <update id="updateBeetleInfo">
        update beetle_info set `name` = #{name} where id = #{id}
    </update>
    <update id="updateWorkContent">
        update workContent set `name` = #{name} where id = #{id};
    </update>
    <update id="updateInjectInfo">
        update injectInfo set `name` = #{name} where id = #{id};
    </update>
    <update id="updateInject_WoodStatus">
        update inject_WoodStatus set `name` = #{name} where id = #{id};
    </update>
    <update id="updateInject_WorkContent">
        update inject_WorkContent set `name` = #{name} where id = #{id};
    </update>
    <update id="updateEnemy_Type">
        update enemy_EneType set `name` = #{name} where id = #{id};
    </update>
    <update id="updateDead_Kill">
        update deadtree_KillMethods set `name` = #{name} where id = #{id};
    </update>
    <update id="updateMedicine_WorkContent" parameterType="cn.huihongcloud.entity.Medicine_WorkContentEntity">
        update medicine_workcontent set `name` = #{name} where id = #{id}
    </update>
    <update id="updateMedicine_Type" parameterType="cn.huihongcloud.entity.Medicine_nameEntity">
        update medicine_name set `name` = #{name} where id = #{id};
    </update>
    <update id="updateInjectName_Type">
                update inject_name set `name` = #{name} where id = #{id};
    </update>
    <delete id="deleteBeetleInfo">
        delete from beetle_info where id = #{id}
    </delete>
    <delete id="deleteBeetleInfoMap">
        delete from beetle_info_map where beetle_info_id = #{beetleInfoId} and adcode = #{adcode}
    </delete>
    <delete id="deleteWorkContent">
        delete from inject_workcontent where id = #{id};
    </delete>
    <delete id="deleteInjectInfo">
        delete from injectInfo where id = #{id};
    </delete>
    <delete id="deleteInject_WoodStatus">
        delete from inject_WoodStatus where id = #{id};
    </delete>
    <delete id="deleteInject_WorkContent">
        delete from inject_WorkContent where id = #{id};
    </delete>
    <delete id="deleteEnemy_Type">
        delete from enemy_EneType where id = #{id};
    </delete>
    <delete id="deleteDead_Kill">
        delete from deadtree_KillMethods where id = #{id};
    </delete>
    <delete id="deleteEnemy_TypeForTown">
        delete from enemy_EneType_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteWorkContentFOrTown">
        delete from workContent_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteInjectForTown">
        delete from injectInfo_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteInjectWood">
        delete from inject_WoodStatus_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteInjectWorkContentForTown">
        delete from inject_WorkContent_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteDeadKillForTOwn">
        delete from deadtrees_KillMethods_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteWorkContent1">
        delete from medicine_workcontent where id = #{id};
    </delete>
    <delete id="deleteWorkContentFOrTown1">
        delete from medicine_workcontent_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteMedicine_Type">
        delete from medicine_name where id = #{id};
    </delete>
    <delete id="deleteMedicine_TypeForTown">
        delete from medicine_nameinfo_map where id = #{id} and adcode = #{adcode};
    </delete>
    <delete id="deleteInjectName_Type">
        delete from inject_name where id = #{id};
    </delete>
    <delete id="deleteinjectName_TypeForTown">
                delete from inject_name_map where id = #{id} and adcode = #{adcode};
    </delete>
    <select id="queryBeetleInfo" resultType="cn.huihongcloud.entity.beetle.BeetleInfo">
        select * from beetle_info;
    </select>
    <select id="queryBeetleInfoForTown" resultType="cn.huihongcloud.entity.beetle.BeetleInfo">
        select beetle_info.id, beetle_info.name
        from beetle_info_map
        left join beetle_info on beetle_info.id = beetle_info_map.beetle_info_id
        where adcode = #{adcode}
    </select>
    <select id="getWorkContent" resultType="cn.huihongcloud.entity.workContent">
        select * from workContent;
    </select>
    <select id="getInjectInfo" resultType="cn.huihongcloud.entity.injectInfo">
        select * from injectInfo;
    </select>
    <select id="getInject_WoodStatus" resultType="cn.huihongcloud.entity.inject_WoodStatus">
        select * from inject_WoodStatus;
    </select>
    <select id="getInject_WorkContent" resultType="cn.huihongcloud.entity.inject_WorkContent">
        select * from  inject_WorkContent;
    </select>
    <select id="getEnemy_Type" resultType="cn.huihongcloud.entity.enemy_EneType">
        select * from enemy_EneType;
    </select>
    <select id="getDead_Kill" resultType="cn.huihongcloud.entity.deadTree_KillMethods">
        select * from deadtree_KillMethods;
    </select>
    <select id="getEnemy_TypeForTown" resultType="cn.huihongcloud.entity.enemy_EneType">
        select * from enemy_EneType t1 left join enemy_EneType_map t2 on t1.id = t2.id where t2.adcode = #{adcode};
    </select>
    <select id="getWorkContentForTown" resultType="cn.huihongcloud.entity.workContent">
        select * from workContent t1 left join workContent_map t2 on t1.id = t2.id where adcode = #{adcode};
    </select>
    <select id="getInjectForTown" resultType="cn.huihongcloud.entity.injectInfo">
        select * from injectInfo t1 left join injectInfo_map t2 on t1.id = t2.id where adcode = #{adcode};
    </select>
    <select id="getInjectWoodForTown" resultType="cn.huihongcloud.entity.inject_WoodStatus">
        select * from inject_WoodStatus t1 left join inject_WoodStatus_map t2 on t1.id = t2.id where adcode = #{adcode};
    </select>
    <select id="getInjectWorkContentForTown" resultType="cn.huihongcloud.entity.inject_WorkContent">
        select * from inject_WorkContent t1 left join inject_WorkContent_map t2 on t1.id = t2.id where adcode = #{adcode};
    </select>
    <select id="getDeadKillForTown" resultType="cn.huihongcloud.entity.deadTree_KillMethods">
        select * from deadtree_KillMethods t1 left join deadtrees_KillMethods_map t2 on t1.id = t2.id where adcode = #{adcode};
    </select>
    <select id="getMedicine_WorkContent" resultType="cn.huihongcloud.entity.inject_WorkContent">
        select * from medicine_workcontent
    </select>
    <select id="getWorkContentForTown1" resultType="cn.huihongcloud.entity.workContent">
        select * from medicine_workcontent t1 left join medicine_workcontent_map t2 on t1.id = t2.id where adcode = #{adcode}
    </select>
    <select id="getMedicine_Type" resultType="cn.huihongcloud.entity.Medicine_nameEntity">
        select * from medicine_name
    </select>
    <select id="getMedicine_TypeForTown" resultType="cn.huihongcloud.entity.Medicine_nameEntity">
        select * from medicine_name t1 left join medicine_nameinfo_map t2 on t1.id = t2.id where t2.adcode = #{adcode};
    </select>
    <select id="getInjectname_Type" resultType="cn.huihongcloud.entity.InjectName">
    select * from inject_name
    </select>
    <select id="getinjectName_TypeForTown" resultType="cn.huihongcloud.entity.InjectName">
                select * from inject_name t1 left join inject_name_map t2 on t1.id = t2.id where t2.adcode = #{adcode};
    </select>
</mapper>